@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>Anh Kha</div>
</div>

<div>Anh Lộc</div>


<div>Tri</div>
<script>
    function get(){
        var formData = [
            {
                "Id": 0,
                "MaDvt": "ma",
                "TenDvt": "ten"
            },
            {
                "Id": 0,
                "MaDvt": "ma",
                "TenDvt": "ten"
            }
        ];
        $.ajax({
            url: "/HH_DM_HangHoa/get", // Đường dẫn đến action xử lý form
            method: "POST",
            data: "donViTinhs=" + formData,
            contentType: "application/json",
            success: function (response) {
                showToast(response.message, response.statusCode);
            },
            error: function (xhr, status, error) {
                // Xử lý lỗi (nếu có) khi gửi form
                console.error(error);
            },
        });
    }
</script>

