  <div class="row m-0">
                            <div class="col-12 col-lg-20 mb-2 pe-1">
                                <div class="card">
                                    <div class="card-body p-2 bg-azure-lt" style="color:black !important;">
                                        <div class="row">
                                              <div class="col-12 mb-1">
                                                <label for="" class="">Ngày</label>
                                                <div class="input-icon">
                                                        <input type="text" autocomplete="off" class="form-control text-dark input-date-default" id="TuNgay" name="TuNgay" placeholder="Từ ngày" autocomplete="off">
                                                    <span class="input-icon-addon">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                            <path stroke="none" d="M0 0h24v24H0z" fill="none">
                                                            </path>
                                                            <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z">
                                                            </path>
                                                            <path d="M16 3v4"></path>
                                                            <path d="M8 3v4"></path>
                                                            <path d="M4 11h16"></path>
                                                            <path d="M11 15h1"></path>
                                                            <path d="M12 15v3"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                              <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <label class="form-check d-inline-block ms-2">
                                                            <input class="form-check-input" type="radio" name="TrangThaiRV" checked id="DangDieuTri">
                                                            <span class="form-check-label">Cấp cứu</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-6">
                                                        <label class="form-check d-inline-block">
                                                            <input class="form-check-input" type="radio" name="TrangThaiRV" id="DaRaVien">
                                                            <span class="form-check-label">Khám bệnh</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                          <div class="col-12 mb-1">
                                                <label for="" class="form-label m-0">Tên khoa</label>
                                                <input class="form-control " name="" id="">
                                            </div>
                                            <div class="col-12 mb-1">
                                                <label for="" class="form-label m-0">Số tiền</label>
                                                <input class="form-control formatted-number" name="" id="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer p-2">
                                        <button id="btn-Search" class="btn btn-primary w-100">Tải danh sách bệnh nhân</button>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="col-12 col-lg-80 ps-1">
                                <div class="card">
                                    <div style="display: none;" id="progress">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-indeterminate bg-blue"></div>
                                        </div>
                                    </div>
                                    <div class="table-responsive" id="tableDsBN" style="height:75vh">
                                        <table class="table table-bordered table-hover table-nowrap table-vcenter table-input">
                                            <thead>
                                                <tr>
                                                    <th class="text-center w-1 px-1">STT</th>
                                                    <th class="text-center">Mã khoa</th>
                                                    <th class="text-center">Tên khoa</th>
                                                    <th class="text-center">Cấp cứu</th>
                                                    <th class="text-center">Giá tham khảo</th>
                                                    <th class="text-center">Ngày tạo</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodyDanhSachBenhNhan">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row justify-content-between mt-1 mx-0">
                                        <div class="col-auto ms-2">
                                            <select id="rowNumber" class="form-select">
                                                <option value="20" selected>20</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="500">500</option>
                                            </select>
                                        </div>
                                        <div class="col-auto">
                                            <ul class="pagination m-2 justify-content-end" id="pagi">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




<script src="/dist/js/test.js" defer asp-append-version="true"></script>



